APP_ENV=local
APP_KEY=
APP_PORT=8080

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=dgb
DB_USERNAME=postgres
DB_PASSWORD=

JWT_SECRET=a-string-secret-at-least-256-bits-long

GATE_1_IN_WEBHOOK_URL=
GATE_1_OUT_WEBHOOK_URL=
GATE_2_IN_WEBHOOK_URL=
GATE_2_OUT_WEBHOOK_URL=
GATE_3_IN_WEBHOOK_URL=
GATE_3_OUT_WEBHOOK_URL=
GATE_4_IN_WEBHOOK_URL=
GATE_4_OUT_WEBHOOK_URL=

GATE_1_IS_AVAILABLE=true
GATE_2_IS_AVAILABLE=true
GATE_3_IS_AVAILABLE=true
GATE_4_IS_AVAILABLE=true

PADDLEOCR_URL=http://127.0.0.1:8080/ocr
